{% extends "base.html" %}
{% block title %} About Us {% endblock title %}

{% block content %}

<h1>Welcome to shop cart <a href="#"><i class="fa-solid fa-cart-shopping"></i></a></h1><br>
<h2>Please enjoy <a href="#"><i class="fa-solid fa-face-smile-beam"></i></a></h2><br><br><br>
<h3>About Us  ---  <i class="fa-solid fa-circle-down"></i></h3>

{% endblock content %}

{% block body %}

    <!-- About Section -->
    <section id="about" class="about section" data-aos="fade-up">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About</h2>
          <p><span>Learn More</span> <span class="description-title">About Us<br></span></p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-right">
  
          <div class="row gy-5">
  
            <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
              <h3>Shop Cart ---  <i class="fa-solid fa-cart-arrow-down"></i></h3>
              <p>
                Shop Cart is software that makes it possible for customers to select products and buy them online. In a brick-and-mortar setting, a customer could browse, grab a product off the shelf, and head to the checkout counter to make a purchase.
              </p>
              <a href="https://www.instagram.com/ankitpoddar_" class="about-btn align-self-center align-self-xl-start"><span>About us</span> <i class="bi bi-chevron-right"></i></a>
            </div>
  
            <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
  
                <div class="col-md-6 icon-box position-relative">
                  <i class="bi bi-briefcase"></i>
                  <h4><a href="" class="stretched-link">Completing the purchase</a></h4>
                  <p>Your shopping cart software should calculate and display shipping, tax, and applied discounts.</p>
                </div><!-- Icon-Box -->
  
                <div class="col-md-6 icon-box position-relative" data-aos="fade-left">
                  <i class="bi bi-gem"></i>
                  <h4><a href="" class="stretched-link">Customer support</a></h4>
                  <p>Service that helps customers with a company's products or services. </p>
                </div><!-- Icon-Box -->
  
                <div class="col-md-6 icon-box position-relative">
                  <i class="bi bi-broadcast"></i>
                  <h4><a href="" class="stretched-link">Live Event</a></h4>
                  <p>Shopping context typically refers to an in-store or online experience designed to engage customers, promote products, and drive sales. </p>
                </div><!-- Icon-Box -->
  
                <div class="col-md-6 icon-box position-relative">
                  <i class="bi bi-easel"></i>
                  <h4><a href="" class="stretched-link">Booking Shows</a></h4>
                  <p>Booking shows, whether for entertainment, business, or personal events, involves several steps to ensure a successful and well-organized experience. </p>
                </div><!-- Icon-Box -->
  
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section>
      <!-- /About Section -->

{% endblock body %}